/autoconf
/aclocal.m4
/autom4te.cache
/configure
/config.status
/config.log
/autoscan.log
/configure.scan
**/.deps
**/.libs

src/include/stamp-h1
src/include/config.h.in
src/include/config.h

**/am--include-marker
**/\#

m4/lt*.m4
m4/libtool.m4

**/Makefile
**/Makefile.in

/cscope.in.out
/cscope.out
/cscope.po.out
/tags

**/*.o
**/*.lo
**/*.la
**/*.a
**/*~

src/daemon/sid
src/modules/ucmd/block/blkid/blkid-type-mapper.c
src/modules/ucmd/block/blkid/blkid-key-mapper.c
src/tools/usid/usid
src/tools/sidctl/sidctl
systemd/sid.service
systemd/sid.socket
systemd/sid.sysconfig
man/sid.8
udev/00-sid.rules

libtool

.gdbinit
.valgrind.supp

.mk.log

*.swp

.vscode/
.cache/

/compile_commands.json
/cov-int
