/autoconf
/aclocal.m4
/autom4te.cache
/configure
/config.status
/config.log
/autoscan.log
/configure.scan
/config.h.in
/config.h
**/.deps
**/.libs

/include/stamp-h1
/include/configure.h.in
/include/configure.h

**/am--include-marker
**/\#

**/Makefile
**/Makefile.in

/cscope.in.out
/cscope.out
/cscope.po.out
/tags

**/*.o
**/*.lo
**/*.la
**/*.a
**/*.m4
**/*~

/daemon/sid

libtool
