SUBSYSTEM!="block", GOTO="sid_end"
ACTION!="add|change|remove", GOTO="sid_end"

IMPORT{db}="SID_DEV_ID"
IMPORT{program}="usid scan"
TAG+="$env{.SID_TAGS}"

LABEL="sid_end"
